# Gradle files
.gradle/
/build/
# Compiled class files
*.class
changelog.txt
# Log files
*.log
logs/

# Generated resources (if data generation is used)
/src/generated/

# JAR files
*.jar
*.zip
*.rar

# Local run directories
/run/

# Other temporary files
*.bak
*.swp
*~
